<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RapidEye CloudDetector</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="libs/material-design-lite/material.min.css">
<link rel="stylesheet" href="webapp.css">
</head>
<body ng-app="cloud-detector" class="mdl-demo mdl-color--grey-100 mdl-base mdl-color-text--grey-700">

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="InitTaskCtrl as tCtrl">
		<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
        	</div>
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				<!-- Title -->
				<h3>RapidEye CloudDetector</h3>
			</div>
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
        	</div>
		</header>
		<main class="mdl-layout__content switch" ng-switch on="step">
			<div class="r">
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="0">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__supporting-text">
						<h4>Detect clouds</h4>
						Select a RapidEye
									directory containing both the image and its metadata.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      		<input type="checkbox" id="chkbox1" ng-model="tCtrl.saveToa" class="mdl-checkbox__input" checked />
                      		<span class="mdl-checkbox__label">I want to save the TOA image in the directory</span>
                    	</label>
						<div class="mdl-textfield mdl-js-textfield textfield-demo">
							<input class="mdl-textfield__input" type="text"
								ng-model="tCtrl.directory" id="directory" required />
							<label class="mdl-textfield__label" for="directory">Paste the path here</label>
						</div>
					</div>
           		</div>
				<button id="jobsbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
					<i class="material-icons mdl-badge" data-badge="{{jobsSelected}}" role="presentation">memory</i>
					<span class="visuallyhidden">Number of jobs</span>
				</button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="jobsbtn">
					<li class="mdl-menu__item" ng-click="tCtrl.setNumberJob(job)" ng-repeat="job in numberJobs">{{job}}</li>
				</ul>
				<div class="mdl-tooltip" for="jobsbtn">Select the number of jobs you want to use</div>
				<button id="execute" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
					ng-click="tCtrl.sendTask()">
					<i class="material-icons">forward</i>
				</button>
				<div class="mdl-tooltip" for="execute">
					Execute</div>	
			</section>
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="1">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__supporting-text">
						<h4>Detecting</h4>
						The algorithm is working. This can take several minutes.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<div class="mdl-textfield mdl-js-textfield textfield-demo">
							<div class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="2">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__supporting-text">
						<h4>Done</h4>
						You will have a file with extension mask
						in the directory {{tCtrl.directory}}
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a ng-click="tCtrl.resetStatus(true)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							I want to process another image
						</a>
					</div>
				</div>
				<span>
					<i class="material-icons done">done_all</i>
				</span>
			</section>
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-switch-when="3">
				<div class="mdl-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__supporting-text">
						<h4>Error</h4>
						Something is not working right.
						Please, run <strong>python server.py</strong> again. 
						Once it is done, click the button below.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a ng-click="tCtrl.resetStatus(false)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							Try again
						</a>
					</div>
				</div>
				<span>
					<i class="material-icons error">error</i>
				</span>
			</section>
		</div>
		</main>
		<footer class="mdl-mini-footer">
			<div class="mdl-mini-footer__left-section">
				<div class="mdl-logo">Departamento de Ecoinformática, CONABIO.</div>
			</div>
		</footer>
	</div>
	<script src="libs/material-design-lite/material.min.js"></script>
	<script src="libs/angular/angular.js"></script>
	<script src="libs/angular-animate/angular-animate.js"></script>
	<script src="webapp.js"></script>
</body>
</html>